body {
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Gloria Hallelujah', cursive;
    margin: 15px;
    padding: 15px;
}

.container {
    padding: 20px;
    margin: 15px;
}

.column1 {
    width: 70%;
    float: left;
    margin: 10px;
    padding: 5px;
}
.column2 {
    width: 30%;
    float: left;
    margin: 10px;
    padding: 5px;
}
.my_footer {
    float:none;
    margin: 10px;
    padding: 5px;
}
.changed {
    color: blueviolet;
}

.to_be_added {
    width: 140px;
    height: 80px;
    background-color: grey;
    /* display: none; */
}
.my_button {
    width: 70px;
    height: 30px;
    background-color: #1C6DBE;
    color: white;
    
}
.my_button :hover {
    background-color: black;      
}
.light {
    background-color: white;
    color: black;
}
.dark {
    background-color: black;
    color: white;
}
.cat_div {
    width: 200px;
    height: 60px;
}

.my_column {
    width: 300px;
    height: 27px;
    background-color: grey;
    color:white;
    float: left;
    padding: 7px;
    margin: 5px;
}
.my_column_expanded {
    width: 300px;
    height: 200px;
    background-color: grey;
    color:white;
    float: left;
    padding: 7px;
    margin: 5px;
}